{% extends "base2.html" %}

{% block content %}

{% load staticfiles %}

<div class = "info">
	<h4>Картины маслом на заказ</h4>
	<p>Каждая картина нашего магазина - это ручная академическая работа музейного качества. Каждая работа выполняется маслом на холсте без использования печати. По-этому у нас Вы получите картину высочайшего качества, на которой можно до бесконечности изучать миллионы мазков, ведь в каждой такой картине остается частичка души художника.</p>
	<p>В нашем магазине Вы можете заказать любую картину. Сайт является информационным ресурсом, который призван облегчить процесс выбора картины. Если Вы уже точно знаете какую картину хотите и ее нет на сайте, напишите нам имя художника и название картины, либо подгрузите изображение, а также укажите желаемые размеры. Наш консультант свяжется с Вами и обсудит все детали. Также мы предоставляем бесплатные консультации по вопросам оформления интерьера.</p>
	<p>Картина лучший подарок и для близких людей, и для себя, и для деловых партнером. А мы сделаем все для того чтобы этот подарок никого не оставил равнодушным и принес радость и гармонию.</p>
	<h4>Примеры выполненных нами работ</h4>
	<table id="table">
	<tbody>
	<tr>				
		<td>
			<a class="fancybox_h" href="{% static "IMG_1059 copy.jpg" %}">
				<img src="{% static "IMG_1059 copy.jpg" %}" width="450" height="350">
			</a>
		</td>
		<td>
			<a class="fancybox_h" href="{% static "IMG_1063 copy.jpg" %}">
				<img src="{% static "IMG_1063 copy.jpg" %}" width="450" height="350">
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a class="fancybox_h" href="{% static "IMG_1059 copy.jpg" %}">
				<img src="{% static "search-icon.png" %}" width="50">
			</a>
		</td>
		<td>
			<a class="fancybox_h" href="{% static "IMG_1063 copy.jpg" %}">
				<img src="{% static "search-icon.png" %}" width="50">
			</a>
		</td>
	</tr>	
	</tbody>
	</table>
</div>

{% endblock %}