{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Интернет-магазин картин</title>
		<link rel="stylesheet" type="text/css" href="{% static "base1.css" %}">
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<link rel="stylesheet" href="{% static "fancybox/source/jquery.fancybox.css" %}" type="text/css" media="screen" />
		<script type="text/javascript" src="{% static "fancybox/source/jquery.fancybox.pack.js" %}"></script>
	</head>
	<body>
		<div id = "wrapper">
			<div id = "header">
			</div>
			<div id ="menu">
				<div id="nav">
					<ul>
						<li><a href="/">Главная</a></li>
						<li><a href="#">Подарок</a>
							<ul>
								<li><a href="/restorations_icons">День рождения</a></li>
								<li><a href="/restorations_paintings">8 марта</a></li>
								<li><a href="#">Новый год / Рождество</a></li>
								<li><a href="#">День влюбленных</a></li>
								<li><a href="#">23 февраля</a></li>
								<li><a href="#">Годовщина</a></li>
							</ul>
						</li>
						<li><a href="#">Интерьер</a>
							<ul>
								<li><a href="/copies_landscapes">Гостиная</a></li>
								<li><a href="/copies_stilllife">Кухня</a></li>
								<li><a href="#">Спальня</a></li>
								<li><a href="#">Коридор</a></li>
								<li><a href="#">Ванная</a></li>
							</ul>
						</li>
						<li><a href="/blog">Категории</a>
							<ul>
								<li><a href="#">Море</a></li>
								<li><a href="#">Натюрморты</a></li>
								<li><a href="#">Природа</a></li>
								<li><a href="#">Цветы</a></li>
								<li><a href="#">Города</a></li>
								<li><a href="#">Девушки</a></li>
							</ul>
						</li>
						<li><a href="/aboutme">Копии картин</a>
							<ul>
								<li><a href="#">База</a></li>
								<li><a href="#">Примеры готовых работ</a></li>
							</ul>
						</li>
						<li><a href="/contacts">Портрет по фотографии</a></li>
					</ul>
				</div>
			</div>
			<div id = "main">
				<div id = "left_side">
					<a href="#">
						<img src="{% static "about_us.png" %}" alt = "" width="100" height="100">
					</a>
				</div>
				<div id = "right_side">
					<a href="#">
						<img src="{% static "e-commerce.jpg" %}" alt = "" width="100" height="100">
					</a>
					<a href="#">
						<img src="{% static "ecommerce-developers-icon.png" %}" alt = "" width="100" height="100">
					</a>
					<a href="#">
						<img src="{% static "deliv.jpg" %}" alt ="" width="100" height="100">
					</a>
				</div>
				<div id = "content">{% block content %}{% endblock %}</div>
			</div>
			<div id = "footer">	&#169; Авторские права на дизайн и всю информацию сайта принадлежат Юлии Биленко. Использование материалов данного сайта возможно только с письменного разрешения автора.</div>			
		</div>
	</body>
</html>	
<script type="text/javascript">
	$(document).ready(function() {
	    $(".fancybox_h").fancybox({
	    	openEffect	: 'elastic',
	    	closeEffect	: 'elastic',

	    	helpers : {
	    		title : {
	    			type : 'inside'
	    		}
	    	},

	    	padding : 5,
	    	minWidth : 800
	    	
	    });
	});
</script>
<script type="text/javascript">
	$(document).ready(function() {
	    $(".fancybox_v").fancybox({
	    	openEffect	: 'elastic',
	    	closeEffect	: 'elastic',

	    	helpers : {
	    		title : {
	    			type : 'inside'
	    		}
	    	},

	    	padding : 5,
	    	minWidth : 600
	    	
	    });
	});
</script>