{% extends "base1.html" %}

{% block content %}

{% load staticfiles %}

<div class="info">
	<h4>Копии пейзажей</h4>
	<br>
	{% for item in copies%}
	<p>
		<p><b>Автор картины:</b> {{item.author}}</p>
		<p><b>Название картины:</b> {{item.name}}</p>	
		<p><b>Описание:</b> {{item.description}}</p>
		{% if item.direction == 'v' %}
			<p>
				<a class="fancybox_v" href="{{ item.picture.url }}">
					<img src="{{ item.picture.url }}" width="420">
				</a>
			</p>
			<p>
				<a class="fancybox_v" href="{{ item.picture.url }}">
					<img src="{% static "search-icon.png" %}" width="50">
				</a>		
			</p>	
		{% endif %}
		{% if item.direction == 'h' %}
			<p>
				<a class="fancybox_h" href="{{ item.picture.url }}">
					<img src="{{ item.picture.url }}" width="630">
				</a>
			</p>
			<p>
				<a class="fancybox_h" href="{{ item.picture.url }}">
					<img src="{% static "search-icon.png" %}" width="50">
				</a>	
			</p>		
		{% endif %}	
	</p>
	<br>
{% endfor %}
</div>	

{% endblock %}