{% extends "base1.html" %}

{% block content %}

{% load staticfiles %}

<div class="info">
	<h4>Реставрация картин</h4>
	<br>
	{% for item in restorations%}
	<p>
		<p><b>Автор картины:</b> {{item.author}}</p>
		<p><b>Название картины:</b> {{item.name}}</p>	
		<p><b>Описание:</b> {{item.description}}</p>
		<table id="table">
			<tbody>
				<tr>
					<th>До</th>
					<th>После</th>
				</tr>
				{% if item.direction == 'v' %}
					<tr>
						<td>
							<a class="fancybox_v" href="{{ item.picture_before.url }}">
								<img src="{{ item.picture_before.url }}" width="400">
							</a>
						</td>
						<td>
							<a class="fancybox_v" href="{{ item.picture_after.url }}">
								<img src="{{ item.picture_after.url }}" width="400">
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a class="fancybox_v" href="{{ item.picture_before.url }}">
								<img src="{% static "search-icon.png" %}" width="50">
							</a>
						</td>
						<td>
							<a class="fancybox_v" href="{{ item.picture_after.url }}">
								<img src="{% static "search-icon.png" %}" width="50">
							</a>
						</td>
					</tr>
				{% endif %}		
				{% if item.direction == 'h' %}
					<tr>				
						<td>
							<a class="fancybox_h" href="{{ item.picture_before.url }}">
								<img src="{{ item.picture_before.url }}" width="450">
							</a>
						</td>
						<td>
							<a class="fancybox_h" href="{{ item.picture_after.url }}">
								<img src="{{ item.picture_after.url }}" width="450">
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a class="fancybox_h" href="{{ item.picture_before.url }}">
								<img src="{% static "search-icon.png" %}" width="50">
							</a>
						</td>
						<td>
							<a class="fancybox_h" href="{{ item.picture_after.url }}">
								<img src="{% static "search-icon.png" %}" width="50">
							</a>
						</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</p>
	<br>
{% endfor %}
</div>	

{% endblock %}